<div class="infoPage">
    <div class="Blog-Posts">
        <div class="Post">
            <span>{{PostsData.title}}</span> 
            <span>Posted By {{PostsData.User.username}} on {{PostsData.date_created}}</span>
        </div>

        <span class="postContent">{{PostsData.content}}</span>


       

    </div>

    {{log PostsData.Comments}}
    {{#each PostsData.Comments as |comments| }}
        <div class="allComments">
            <p style="color:white;">{{comments.content}}</p>
            <span style="color:white;">Comment Posted By {{comments.User.username}} on {{comments.date}}</span>
        </div>
    {{/each}}
   

    <h1>Enter a comment to this post</h1>

    <textarea class="commentText"></textarea>
    
    <button class="submit" style="text-decoration: none;">Submit</button>

    <div style="display: none;" id="{{PostsData.id}}" class="tableId"></div>

</div>
    

    <script rel="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/Javascript/BlogInfo.js"></script>