

{{#each allData as |Data|}}

    <div class="Blog-Posts">
        {{#if loggedIn}}
            <a href="/BlogInfo/{{Data.id}}">
            <h1>Ttile</h1>
            <p>{{Data.title}}</p>
            <h1>Content</h1>
            <p>{{Data.content}}</p></a>

        {{else}}
            <a href="/login">
            <h1>Ttile</h1>
            <p>{{Data.title}}</p>
            <h1>Content</h1>
            <p>{{Data.content}}</p></a>

        {{/if}}

    </div>

    
    
    <h1>User</h1>
    <p>{{Data.User.username}}</p>

    <h1>Comments</h1>

    {{#each Data.Comments as |comments| }}
        <p>{{comments.content}}</p>
    {{/each}}
       

{{/each}}