<div class="homePage">
    {{log loggedIn}}
    {{#each allData as |Data|}}

        {{!-- {{log ../loggedIn}} --}}
        <div class="Blog-Posts">
            {{#if ../loggedIn}}
               <a style="text-decoration:none" href="/login">
                    <div class="Post">
                        <span class="title">{{Data.title}}</span> 
                        <span class = "UserandDate" >Posted By {{Data.User.username}} on {{Data.date_created}}</span>
                    </div>
                
                {{!-- <h1>Content</h1> --}}
                <span class="postContent">{{Data.content}}</span></a>
                
                {{!-- <h1>Content</h1> --}}
                

            {{else}}
                <a style="text-decoration:none" href="/login">
                <div class="Post">
                    <span>{{Data.title}}</span> 
                    <span>Posted By {{Data.User.username}} on {{Data.date_created}}</span>
                </div>
                
                {{!-- <h1>Content</h1> --}}
                <span class="postContent">{{Data.content}}</span></a>

            {{/if}}

        </div>

</div>  
    
    {{!-- <h1>User</h1>
    <p>{{Data.User.username}}</p>

    <h1>Comments</h1>

    {{#each Data.Comments as |comments| }}
        <p>{{comments.content}}</p>
    {{/each}} --}}
       

{{/each}}