<div class="homePage">
    {{log loggedIn}}
    <div class="Blog-Posts">
        {{#each allData as |Data|}}

        
        
            {{log ../loggedIn}}
            {{#if ../loggedIn}}
               <a  style="text-decoration:none;" href="/BlogInfo/{{Data.id}}">
                    <div class="Post" style="margin-top: 30px;">
                        <span class="title">{{Data.title}}</span> 
                        <span class = "UserandDate" >Posted By {{Data.User.username}} on {{Data.date_created}}</span>
                    </div>
                
                {{!-- <h1>Content</h1> --}}
                <span class="postContent">{{Data.content}}</span></a>
                
                {{!-- <h1>Content</h1> --}}
                

            {{else}}
                <a style="text-decoration:none; padding-top: 10px; " href="/login">
                <div class="Post" style="margin-top:30px;">
                    <span>{{Data.title}}</span> 
                    <span>Posted By {{Data.User.username}} on {{Data.date_created}}</span>
                </div>
                
                {{!-- <h1>Content</h1> --}}
                <span class="postContent">{{Data.content}}</span></a>

            {{/if}}    

        {{/each}}


       </div>

</div>  